body{
    background-color: green;
}
table{
    width: 100%;
    border: 2px solid black;
    border-collapse:collapse ;
}
center{
    width: 40%;
    border: 2px solid black;
    border-collapse:collapse ;
    margin-left: 300px;
    background-color:rgb(188, 255, 255);
}
button{
    background-color: rgba(226, 1, 20, 0.623);
}